<%- include("partials/header") %>

<h1>Disorders</h1>

<div class="grid">

<% disorders.forEach(disorder => { %>

<a href="/disorder/<%= disorder.id %>" class="card">
    <div class="image"></div>
    <p><%= disorder.name %></p>
</a>

<% }) %>

</div>

<%- include("partials/footer") %>