<!DOCTYPE html>
<html>
<head>
<title>Disorder guide!</title>
<link rel="stylesheet" href="/css/styles.css">
</head>

<body>

<header>
<h2>Awesome disorder guide by your favorite student</h2>
<nav>
<a href="/">Home</a>
</nav>
</header>

<main>